{% extends 'layout.html' %}

{% block body %}


  <a href="{{url_for('edit_customer', id=customer[0])}}" class="btn btn-success edit-dele float">Edit</a>

    <form action="{{url_for('delete_customer', id=customer[0])}}" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="btn btn-danger edit-dele">

    </form>

  <h3>Name: {{customer[1]}}</h3>
  <h3>Surname: {{customer[2]}}</h3>
  <h3>PESEL: {{customer[3]}}</h3>
  <div class="row md-2">
  <div class="col-md-6"> <iframe class="frame" src="{{customer[4]}}"></iframe> </div>
  <div class="col-md-6"> <iframe class="frame" src="{{customer[5]}}"></iframe> </div>
  <div class="col-md-6"> <iframe class="frame" src="{{customer[6]}}"></iframe> </div>
  <div class="col-md-6"> <iframe class="frame" src="{{customer[7]}}"></iframe> </div>
  <div class="col-md-6"> <iframe class="frame" src="{{customer[8]}}"></iframe> </div>
  <div class="col-md-6"> <iframe class="frame" src="{{customer[9]}}"></iframe> </div>
  </div>

{% endblock %}
